
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "这是title";
}

<h1>ViewLayout</h1>

@section Scripts{ 
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
}

