@model WebApplication1.Models.Student

<html>
<head>
    <title></title>
</head>

<body>
    <h2>@Model.Name</h2>
    <div>
        name: @Model.Name
    </div>
    <div>
        class: @Model.ClassName
    </div>
    <div>
        Email: @Model.Email
    </div>
</body>


</html>
