
@{
    ViewData["Title"] = "Test Vue and Element-UI";
}


<h1>Test</h1>

<div id="test">
    <el-button type="danger" v-if="flag">vue-button</el-button>
    <el-button type="text" v-on:click="open">点击打开 Message Box</el-button>
</div>

@section Scripts{
    <script>
        new Vue({
            el: '#test',
            data: { flag: true },
            methods: {
              open() {
                this.$prompt('请输入邮箱', '提示', {
                  confirmButtonText: '确定',
                  cancelButtonText: '取消',
                  inputErrorMessage: '邮箱格式不正确'
                }).then(({ value }) => {
                  this.$message({
                    type: 'success',
                    message: '你的邮箱是: ' + value
                  });
                }).catch(() => {
                  this.$message({
                    type: 'info',
                    message: '取消输入'
                  });
                });
              }
            }
        })
    </script>
}

